%h1 About
%br
%p
	I started out as a web developer gaining deep knowledge in all things online. I then moved into Project Management and never looked back. I love project managing web teams, mentoring and support team members whilst supporting the delivery of high scale web solutions. I have worked in a number of highly prestigious companies and have delivered some great websites together with complex content management systems that underpin them. I have also managed the delivery of Android & IOS mobile app development. I specialise in agile project management and am always on the look out for exciting and new challenges.
%br
	I am currently working at the MailOnline setting high performance teams up using "Programmer Anarchy" principles to deliver some very exciting projects on the roadmap. 
%br
	Qualifications:
	Certified Scrum Master (CSM)
	Certified Scrum Practitioner (CSP)
%br
	Specialties: Agile project management
	/.Net, Django, Java & open source environments