%h1 Welcome to my website.
%br
%p  
  I currently work as a Senior Agile Project Manager at the MailOnline.
%br
%p  
  I decided to create a website using Ruby and Haml, so here it is. Over time I am going to add some cool things to this website, so watch this space.

%br
%p
%img(src="/images/julia.jpg")


