    #wrapper{  
        width:66%;  
        margin:auto;  
    }  
    #header{  
        background-color:#FFFFCC;  
    }  
    #header>h1{  
        height: 2px;
        line-height: 5px;
        padding: 4px 6px;
        margin-bottom: 5px;
        clear:both;
        font-weight: normal;
        font-size:15px;  
        font-family:Lucida Console;
    }  
    h2{  
        font-size:100%;  
        font-family:Ariel;  
    }  
    #content{  
        margin:12px 0;  
        width:70%;
        float:left;  
        font-family:Lucida Console;
        font-size:13px; 
    }  
    #side_bar{  
        margin:12px 0;  
        width :30%;  
        float:right;  
        clear:none;  
        background-color:#FFFFCC;  
    }  

    #side_bar1{  
        position:fixed;
        margin:12px 0;  
        top:120px;
        left:600px;
        width :200px;  
        font-size:75%;  
        font-family:sans-serif;  
        color:#333;  
        clear:none;  
        padding:5px 10px 0 10px; 
    }  

    h1{  
        font-size:120%;  
        font-weight: bold;
        font-family:Raleway;
    }  
    #footer{  
        clear:both;  
        background-color:#FFFFCC;  
        font-size:75%;  
        font-family:sans-serif;  
        color:#333;  
        border-top:solid 1px #69a;  
    }  
    ol{  
        padding-top:20px;  
        background-color:#FFFF99;  
        display:block;  
        #border:2px solid red;
    }  
    li{  
        color:white;  
        text-align:center;  
        display:inline;  
        padding:1px 10px 0 10px;  
        margin-right:1px;  
        background-color: #778899;  
        #border:2px solid red;
    }  
    a{  
        text-decoration:none;  
    }  

    #title{
    display: block;
    border-top: 4px solid #a7a59b;
    height: 50px;
    line-height: 50px;
    padding: 4px 6px;
    margin-bottom: 10px;
    clear:both;
    font-family:Raleway;
    font-size:40px;  
    color: rgba(153, 153, 153, 1.0);
    }
    #title .name { float:left }
    #title .tel { float:right; font-size:15px; }